[web]
SiteName = koji
#KojiTheme = mytheme

# Key urls
{% if env == 'staging' %}
KojiHubURL = https://koji.stg.fedoraproject.org/kojihub
KojiFilesURL = https://kojipkgs.stg.fedoraproject.org/
{% else %}
KojiHubURL = https://koji.fedoraproject.org/kojihub
KojiFilesURL = https://kojipkgs.fedoraproject.org/
{% endif %}

# SSL authentication options
KrbRDNS = False
WebKeytab = /etc/krb5.HTTP_koji{{env_suffix}}.fedoraproject.org.keytab
WebPrincipal = HTTP/koji{{env_suffix}}.fedoraproject.org

LoginTimeout = 72

# This must be changed and uncommented before deployment
{% if env == 'staging' %}
Secret = {{ kojiSecret }}
{% else %}
Secret = {{ kojiStgSecret }}
{% endif %}

LibPath = /usr/share/koji-web/lib

loginDisabled = True

KojiHubCA = /etc/pki/ca-trust/extracted/pem/tls-ca-bundle.pem

{% if env == 'staging' %}
Tasks = buildContainer,createContainer,runroot,osbuildImage,createKiwiImage
ParentTasks = buildContainer,osbuildImage,kiwiBuild
{% else %}
Tasks = buildContainer,createContainer,runroot,osbuildImage
ParentTasks = buildContainer,osbuildImage
{% endif %}
ToplevelTasks = osbuildImage
